<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="logconsole" xsi:type="Console" />
    <target name="logfileDefault" xsi:type="File" fileName="logs/demo03/default.log" />
    <target name="logfileLayoutDefault" xsi:type="File" fileName="logs/demo03/layoutDefault.log"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}|${event-properties:user}"/>
    <target name="logfileLayout01" xsi:type="File" fileName="logs/demo03/layout01.log">
      <layout xsi:type="JsonLayout">
        <attribute name="Date" layout="${longdate}" />
        <attribute name="Level" layout="${level:uppercase=true}" />
        <attribute name="Logger" layout="${logger}" />
        <attribute name="Message" layout="${message}" />
        <attribute name="User" layout="${event-properties:user}" />
      </layout>
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="logconsole" />
    <logger name="*" minlevel="Info" writeTo="logfileDefault" />
    <logger name="*" minlevel="Info" writeTo="logfileLayoutDefault" />
    <logger name="*" minlevel="Info" writeTo="logfileLayout01" />
  </rules>
</nlog>

