<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="logconsole" xsi:type="Console" />
    <target name="logfileFatal" xsi:type="File" fileName="logs/minLevel_Fatal.log" />
    <target name="logfileError" xsi:type="File" fileName="logs/minLevel_Error.log" />
    <target name="logfileWarn" xsi:type="File" fileName="logs/minLevel_Warn.log" />
    <target name="logfileInfo" xsi:type="File" fileName="logs/minLevel_Info.log" />
    <target name="logfileDebug" xsi:type="File" fileName="logs/minLevel_Debug.log" />
    <target name="logfileTrace" xsi:type="File" fileName="logs/minLevel_Trace.log" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="logconsole" />
    <logger name="*" minlevel="Fatal" writeTo="logfileFatal" />
    <logger name="*" minlevel="Error" writeTo="logfileError" />
    <logger name="*" minlevel="Warn" writeTo="logfileWarn" />
    <logger name="*" minlevel="Info" writeTo="logfileInfo" />
    <logger name="*" minlevel="Debug" writeTo="logfileDebug" />
    <logger name="*" minlevel="Trace" writeTo="logfileTrace" />
  </rules>
</nlog>
