<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="logfile" xsi:type="File" fileName="logs/${date:format=yyyyMMdd}-nlog.log"
            encoding="utf-8"
            maxArchiveFiles="10"
            archiveAboveSize="1000000"
            archiveEvery="Day">
      <layout xsi:type="JsonLayout" includeAllProperties="true">
        <attribute name="TimeStamp" layout="${longdate}" />
        <attribute name="Level" layout="${level:uppercase=true}" />
        <attribute name="LoggerName" layout="${logger}" />
        <attribute name="Message" layout="${message}" escapeUnicode="false" />
      </layout>
    </target>
    <target xsi:type="Null" name="BlackHole" formatMessage="false" />
  </targets>

  <rules>
    <logger name="Microsoft.AspNetCore.*" minlevel="Info" writeTo="BlackHole" final="true" />
    <logger name="*" minlevel="Info" writeTo="logfile" />
  </rules>
</nlog>

