<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="logfile" xsi:type="File" fileName="logs/${date:format=yyyyMMdd}-nlog.log"
            encoding="utf-8"
            maxArchiveFiles="10"
            archiveAboveSize="1000000"
            archiveEvery="Day">
      <layout xsi:type="JsonLayout" includeAllProperties="true">
        <attribute name="TimeStamp" layout="${longdate}" />
        <attribute name="Level" layout="${level:uppercase=true}" />
        <attribute name="LoggerName" layout="${logger}" />
        <attribute name="Message" layout="${message}" escapeUnicode="false" />
        <attribute name="Exception" layout="${exception:format=ToString}" escapeUnicode="false" />
      </layout>
    </target>
    <target xsi:type="Null" name="BlackHole" formatMessage="false" />
    <target name="logstash" xsi:type="Network" address="http://127.0.0.1:5500">
      <layout xsi:type="JsonLayout" includeAllProperties="true">
        <attribute name="TimeStamp" layout="${date:universalTime=true:format=o}" />
        <attribute name="Level" layout="${level:uppercase=true}" />
        <attribute name="LoggerName" layout="${logger}" />
        <attribute name="MachineName" layout="${machinename}" />
        <attribute name="ProgId" layout="ConsoleCoreLog" />
        <attribute name="ProcessName" layout="${processname}" />
        <attribute name="AssemblyVersion" layout="${assembly-version}" />
        <attribute name="Message" layout="${message}" />
        <attribute name="Exception" layout="${exception:format=ToString}" />
      </layout>
    </target>
    <target xsi:type="Mail"
       name="logmail"
       html="True"
       replaceNewlineWithBrTagInHtml="True"
       subject="測試"
       to="peterhsu@tssco.com.tw"
       from="test@tssco.com.tw"
       enableSsl="False"
       smtpAuthentication="None"
       smtpServer="smtp.tssco.com.tw"
       smtpPort="25"
       useSystemNetMailSettings="False" >
      <layout xsi:type="JsonLayout" includeAllProperties="true">
        <attribute name="TimeStamp" layout="${date:universalTime=true:format=o}" />
        <attribute name="Level" layout="${level:uppercase=true}" />
        <attribute name="LoggerName" layout="${logger}" />
        <attribute name="MachineName" layout="${machinename}" />
        <attribute name="ProgId" layout="ConsoleCoreLog" />
        <attribute name="ProcessName" layout="${processname}" />
        <attribute name="AssemblyVersion" layout="${assembly-version}" />
        <attribute name="Message" layout="${message}" escapeUnicode="false" />
        <attribute name="Exception" layout="${exception:format=ToString}" escapeUnicode="false" />
      </layout>
    </target>
  </targets>

  <rules>
    <logger name="Microsoft.AspNetCore.*" minlevel="Info" writeTo="BlackHole" final="true" />
    <logger name="*" minlevel="Info" writeTo="logfile" />
    <logger name="*" minlevel="Info" writeTo="logstash" />
    <logger name="*" minlevel="Error" writeTo="logmail" />
  </rules>
</nlog>

