<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <variable name="mymsg" value="${longdate}|${machinename}|${processname}|${logger}|${message}" />
  <targets>
    <target name="logconsole" xsi:type="Console" />
    <target name="logchat" xsi:type="Network" address="http://172.24.26.198:5000/webapi/entry.cgi?api=SYNO.Chat.External&amp;method=incoming&amp;version=2&amp;token=%22DhIWx6Ddx96UFCxR8o8FoLSkwn6CF30hnGBTQmVjJ45S6LrgVZxoPZXafppBhVrv%22&amp;payload={&quot;text&quot;:&quot;${mymsg}&quot;}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="logconsole" />
    <logger name="*" minlevel="Info" writeTo="logchat" />
  </rules>
</nlog>

