<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="logconsole" xsi:type="Console" />
    <target name="logfile" xsi:type="File" fileName="logs/nlog.log">
      <layout xsi:type="JsonLayout" includeAllProperties="true">
        <attribute name="TimeStamp" layout="${longdate}" />
        <attribute name="Level" layout="${level:uppercase=true}" />
        <attribute name="LoggerName" layout="${logger}" />
        <attribute name="MachineName" layout="${machinename}" />
        <attribute name="ProgId" layout="ConsoleCoreLog" />
        <attribute name="ProcessName" layout="${processname}" />
        <attribute name="AssemblyVersion" layout="${assembly-version}" />
        <attribute name="Message" layout="${message}" />
      </layout>
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="logconsole" />
    <logger name="*" minlevel="Info" writeTo="logfile" />
  </rules>
</nlog>

